@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  button {
    @apply border py-2 px-3 rounded-full font-[ObjektivMk2]
  }
}

.rtl {
  direction: rtl;
}


@font-face {
  font-family: 'ObjektivMk2';
  src: url('./assets/BYekan+.ttf');
}

body{
  font-family: 'ObjektivMk2';
}